---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your news experience with <br />
      <span class="text-accent dark:text-white highlight">Quick articles</span>
    </Fragment>

    <Fragment slot="subtitle">
      At Reportshorts, we are taking the fluff out of regular everyday news. So you can stay current with what's happeneing without having to spend unecesssary time reading bloated news articles. So you can save time for the other things in your life.
    </Fragment>
  </Hero>



  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Goals"
    subtitle="We adhere to three main ideas."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Quick & Simple',
        description:
          'Get the main story quickly. Less is more.',
        icon: 'tabler:template',
      },
      {
        title: 'Informative',
        description:
          'While being shortened, still retaining the main points and still giving a concise story.',
        icon: 'tabler:template',
      },
      {
        title: 'Un-Biased',
        description:
          'Something we feel really strongly about, the news should have no manipulation or spin to it.',
        icon: 'tabler:template',
      },
    ]}
  />
</Layout>
