---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import HomeArticleGrid from '~/components/HomeArticleGrid.vue';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero>
  <Fragment slot="title">
    <!-- Free template for <span class="hidden lg:inline">create your website <br class="2xl:hidden"/> with</span>
    <span class="text-accent dark:text-white highlight"> Astro 2.0</span> + Tailwind CSS -->
    Trending News Summarized Quickly
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">NimbleNews brings you the trending news summarized quickly! Catch up on what's going on today faster than ever! Let's be honest most stories you just want the main points and could live without all the extras.
    Keeping it super simple
  </Fragment>
</Hero>
  <HomeArticleGrid client:load></HomeArticleGrid>

</Layout>
