---
---

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank" id="trading-view"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
    {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      },
      {
        "description": "Litecoin",
        "proName": "COINBASE:LTCUSD"
      },
      {
        "description": "",
        "proName": "BINANCE:BNBUSD"
      },
      {
        "description": "",
        "proName": "KRAKEN:XRPUSD"
      },
      {
        "description": "",
        "proName": "COINBASE:ADAUSD"
      },
      {
        "description": "",
        "proName": "BINANCE:DOGEUSD"
      },
      {
        "description": "",
        "proName": "BITSTAMP:XRPUSD"
      },
      {
        "description": "",
        "proName": "BINANCE:TRXUSD.P"
      },
      {
        "description": "",
        "proName": "KRAKEN:XMRUSD"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "dark",
    "isTransparent": false,
    "displayMode": "regular",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->